<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" data-route="{{page.route}}"><!--<![endif]-->
<head>

  <!-- https://github.com/solidusjs/metadata -->
  {{> solidus-metadata/tags }}

	<link rel="stylesheet" href="/compiled/styles.css" />

	{{#dev}}
  	<!-- automatically reloads page when CSS is changed -->
  	<script src="http://localhost:{{livereload_port}}/livereload.js?snipver=1"></script>
	{{/dev}}

  <script src="/compiled/scripts.js"></script>

</head>
<body>

	{{{body}}}

</body>
</html>
